@import "breakpoints.scss";

$colorWhite: #fff;
$bgColor: #0082ff;
$alterColor: rgb(0, 160, 255);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  //background: linear-gradient(to bottom, rgb(0, 140, 255,.8), rgb(0, 140, 255,0))
  background: linear-gradient($bgColor, 85%, $colorWhite);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: $colorWhite;
  overflow: hidden;

  .contenedor {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo,
    .menu {
      margin: 20px;
      //background: $alterColor;
      width: 40%;
      height: 50%;
      display: flex;
    }

    .logo {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 10px;
        width: 80%;
        //background: rgba(0, 140, 255, 0.5);
        //padding: 20px;
      }
    }

    .menu {
      flex-direction: row;
      justify-content: space-between;

      .left,
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 40%;
        //background: $colorWhite
        .apartado {
          box-shadow: 0px 1px 10px -2px #000;
          height: 150px;
          width: 180px;
          background: $colorWhite;
          margin: 20px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          svg {
            height: 60%;
            width: auto;
            fill: $bgColor;
            margin-bottom: 10px;
            &:hover {
              filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            }
          }
        }
        .cabeza-apartado {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          background: $alterColor;
          text-align: center;
          padding: 10px;
          width: 100%;
          height: 30%;
          font-size: 16px;
        }
      }
    }
  }

  .top-rigth {
    background: $bgColor;
    border-radius: 5px;
    height: 40px;
    width: 225px;
    margin-right: 10px;
    position: absolute;
    //background: $alterColor;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    .time {
      text-align: center;
      width: 30%;
    }

    .user {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: $alterColor;
      border-radius: 5px;
      text-align: center;
      width: 70%;
      height: 40px;
      p {
        width: 66%;
        font-size: 16px;
      }

      svg {
        fill: rgb(255, 217, 0);
        height: 80%;
        &:hover {
          filter: drop-shadow(0px 0px 8px rgb(255 217 0 / 1));
        }
      }
    }
  }
  @include media("<=tablet"){
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .logo{
            width: 80%;
            height: 20%;
        }
        .menu{
            width: 90%;
            .right,.left{
                align-items: center;
            }
        }
        
    }
  }
  @include media("<=phone") {
    overflow: visible;
    .contenedor {
      display: flex;
      flex-direction: column;
      .logo,
      .menu {
        width: 100%;
      }
      .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
