h2{
    color: yellow;
	font-weight: bolder;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
    text-shadow: 0 3px red;
    text-align: center;
}


table, th,td{
    background-color: yellow;
    border-collapse: collapse;
    border: 5px solid #fa8b0c;
}

tr{
    align-content: center;
}
p{
    font-weight: bolder;
    margin: 15px;
    text-align: justify;
    font-size: 15px;
    inline-size: 1.6;
    background-color: orange;
    border-radius: 15px;
}

div{
    margin: 30px;
}

.gifLeft{
    float: left;
}
#gifRight{
    float: right;
}

iframe{
    margin: 30px;
}
#sButton{
    
}
.button{
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
   
    background-color: #fa8b0c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(199, 166, 17);
}
#facebook{
    position: absolute;
    left: 10%;
}
#facebook:hover{
    background-color: #3b5998;
}
#twitter{
    position: absolute;
    left: 70%;
}
#twitter:hover{
    background-color: #00acee;
}
#instagram{
    position: absolute;
    left: 40%;
}
#instagram:hover{
    background-color: #e95950;
}
